<%= javascript_pack_tag('posts') %>
<div class='form-wrapper'>
  <div class='text-center'>
    <%= form_image_select(post) %>
  </div>
  <%= simple_form_for(post, html: { class: 'form-horizontal', multipart: true }) do |f| %>
    <div class="row col-md-12 text-center">
      <%= f.error_notification %>
    </div>
    <div class="container-fluid">
      <div class='form-group text-center'>
        <h4>Upload an image (this is required):</h4>
        <%= f.input(:image, label: false, input_html: { onChange: 'window.loadFile(event)', style: "margin: auto; padding: 15px 0"}) %>
      </div>
      <div class='form-group'>
        <%= f.input(:caption, label: false, placeholder: 'Add your caption', input_html: { style: "width: 100%" }) %>
      </div>
      <div class='form-group'>
        <%= f.button(:submit, class: 'btn-success btn-block') %>
      </div>
    </div>
  <% end %>
</div>
